[package]
name = "hlbsp"
version = "0.4.8"
authors = ["r4v3n6101 <raven6107@gmail.com>"]
edition = "2018"

[dependencies]
structopt = "0.3.21"
glium = "0.31.0"
render = { path = "render" }
cgmath = "0.18.0"

[dependencies.log]
version = "0.4.14"
features = ["std", "max_level_debug", "release_max_level_info"]

[workspace]
members = ["file", "render"]

[profile.release]
opt-level = 'z'
lto = true
panic = "abort"
codegen-units = 1
